@import "../../../assets/styles/variables"

.tasks-block
    display: flex
    height: 100%
    background-color: $lightblue
    border-radius: 5px
    padding: 5px
    flex-direction: column
    gap: 5px

    &__header
        display: flex
        justify-content: space-between
    
    &__title
        text-transform: capitalize